openapi: 3.0.3
info:
  title: YGOPRODeck Yu-Gi-Oh! Card Archetypes Database API
  version: v7
  description: 'YGOPRODeck is a free, community-run REST API for the complete Yu-Gi-Oh! Trading Card Game

    corpus. The v7 API exposes card search and filtering, card sets, archetypes, the valid

    value enumerations used by the search engine (types, races, attributes, link markers),

    the underlying database version, and a random-card endpoint. No authentication is required;

    the documented rate limit is 20 requests per second per IP (one-hour ban on violation).


    All card text and imagery is copyright Konami Digital Entertainment / 4K Media. This spec

    is a third-party API description, generated from the YGOPRODeck API Guide

    (https://ygoprodeck.com/api-guide/) and live response inspection.

    '
  termsOfService: https://ygoprodeck.com/api-guide/
  contact:
    name: YGOPRODeck
    url: https://ygoprodeck.com/
  license:
    name: Community / Unspecified
    url: https://ygoprodeck.com/about/
  x-generated-from: documentation
  x-last-validated: '2026-05-30'
servers:
- url: https://db.ygoprodeck.com/api/v7
  description: YGOPRODeck v7 production API
tags:
- name: Database
  description: Database version and freshness information.
paths:
  /checkDBVer.php:
    get:
      tags:
      - Database
      operationId: getDatabaseVersion
      summary: YGOPRODeck Get Database Version
      description: 'Return the current YGOPRODeck card database version and last-updated timestamp. Clients

        should poll this endpoint and invalidate their local cache when the version changes.

        '
      responses:
        '200':
          description: Current database version and last-update timestamp.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DatabaseVersion'
              examples:
                GetDatabaseVersion200Example:
                  summary: Default getDatabaseVersion 200 response
                  x-microcks-default: true
                  value:
                  - database_version: '145.46'
                    last_update: '2026-05-22 16:00:23'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    DatabaseVersion:
      type: object
      description: Current YGOPRODeck card database version.
      properties:
        database_version:
          type: string
          description: Database version (semver-like).
          example: '145.46'
        last_update:
          type: string
          description: Last update timestamp (`YYYY-MM-DD HH:MM:SS`, UTC).
          example: '2026-05-22 16:00:23'
      required:
      - database_version
      - last_update
externalDocs:
  description: YGOPRODeck API Guide
  url: https://ygoprodeck.com/api-guide/
